<!DOCTYPE html>
<html lang="en">
<head>
    <title>Persons</title>
</head>
<body>
    <h1>Persons</h1>
    <ul>
        <% persons.forEach(person => { %>
            <li> <%= person.name %>
                <%= person.id %></li>
        <% }); %>
    </ul>
</body>
</html>